# PYTHON BASIC SYNTAX

by Budi Prayoga

### Numeric Data Types and Arithmetic

In [1]:
1

1

In [2]:
1.2

1.2

In [3]:
1+1

2

In [4]:
3-2

1

In [5]:
4*5

20

In [6]:
5/3

1.6666666666666667

In [7]:
2**4

16

In [8]:
5%2

1

In [9]:
4%2

0

### Variable Assignment

In [10]:
x = 2
y = 3

In [11]:
x

2

In [12]:
y

3

In [13]:
x + y

5

In [14]:
x = x + x

In [15]:
x

4

In [16]:
y = y + 2

In [17]:
y

5

In [18]:
1var = 1

SyntaxError: invalid syntax (<ipython-input-18-1ead25d04f56>, line 1)

In [19]:
$var = 1

SyntaxError: invalid syntax (<ipython-input-19-21915c91e968>, line 1)

In [20]:
my_number = 1

### String

In [21]:
#Ini adalah komentar

In [22]:
# Ini adalah komentar 2

In [23]:
name = 'Budi Prayoga'

In [24]:
note = "I can't eat pizza"

In [26]:
name

'Budi Prayoga'

In [27]:
print(name)

Budi Prayoga

In [28]:
age = 24

In [29]:
"My name is {}. I am {} years old".format(name,age)

'My name is Budi Prayoga. I am 24 years old'

In [30]:
"My name is {param1}. I am {param2} years old".format(param1=name,param2=age)

'My name is Budi Prayoga. I am 24 years old'

In [31]:
name[0]

'B'

In [32]:
name[1]

'u'

In [33]:
name[:2]

'Bu'

In [34]:
name[1:]

'udi Prayoga'

In [35]:
name[1:3]

'ud'

In [36]:
name[:]

'Budi Prayoga'

### List

In [37]:
num_list = [1,2,3,4,5]

In [38]:
num_list

[1, 2, 3, 4, 5]

In [39]:
any_list = ['Germany',1,2,'France',True]

In [40]:
any_list

['Germany', 1, 2, 'France', True]

In [41]:
num_list.append(6)

In [42]:
num_list

[1, 2, 3, 4, 5, 6]

In [43]:
any_list[0]

'Germany'

In [44]:
any_list[2]

2

In [45]:
any_list[1:4]

[1, 2, 'France']

In [46]:
any_list[1] = 'Italy'

In [47]:
any_list

['Germany', 'Italy', 2, 'France', True]

In [48]:
nested_list = [1,2,['Germany','France','Italy']]

In [49]:
nested_list

[1, 2, ['Germany', 'France', 'Italy']]

In [50]:
nested_list[2][1]

'France'

In [51]:
nested_list[2][2]

'Italy'

### Dictionary

In [52]:
new_dict = {'key1':[1,2,3],'key2':['Germany','France','Italy']}

In [53]:
new_dict

{'key1': [1, 2, 3], 'key2': ['Germany', 'France', 'Italy']}

In [54]:
new_dict['key1']

[1, 2, 3]

In [55]:
new_dict['key2']

['Germany', 'France', 'Italy']

In [56]:
new_dict['key1'][2]

3

In [57]:
new_dict['key2'][1]

'France'

In [59]:
advanced_dict = {'key1':[1,2,{'child':['Germany','France','Italy']}]}

In [60]:
advanced_dict['key1'][2]['child'][1]

'France'

### Boolean

In [61]:
True

True

In [62]:
False

False

### Tuple

In [63]:
my_tuple = (1,2,3,4,5)

In [64]:
my_tuple

(1, 2, 3, 4, 5)

In [65]:
type(my_tuple)

tuple

In [66]:
my_tuple[2]

3

In [67]:
my_tuple[0] = 'Germany'

TypeError: 'tuple' object does not support item assignment

### Set

In [68]:
my_set = {1,2,3}

In [69]:
my_set

{1, 2, 3}

In [70]:
type(my_set)

set

In [74]:
new_set = set([1,2,2,3,3,4,5,6,5])

In [75]:
new_set

{1, 2, 3, 4, 5, 6}

In [76]:
new_set.add(6)

In [77]:
new_set

{1, 2, 3, 4, 5, 6}

### Comparison Operator

In [78]:
1>2

False

In [79]:
1<2

True

In [81]:
2>=2

True

In [83]:
3<=3

True

In [84]:
1==1

True

In [86]:
1!=1

False

In [88]:
1<2 and 4>3

True

In [89]:
1>2 and 3==3

False

In [91]:
(1>2) or (3==3)

True

In [92]:
True and True

True

In [93]:
True and False

False

In [94]:
True or False

True

### Conditional Statement

In [95]:
if 1<2:
    print('Hello')

Hello

In [96]:
if 1>2:
    print('First')
else:
    print('Second')

Second

In [99]:
if 1>2:
    print('FDR')
elif 3<4:
    print('Churcil')
else:
    print('Stalin')

Churcil

In [98]:
if 1>2:
    print('FDR')
elif 2==2:
    print('Churcil')
elif 3<4:
    print('Stalin')
else:
    print('Charles de Gaulle')

Churcil

### Looping

In [101]:
num_list = [1,2,3,4,5]

In [102]:
for num in num_list:
    print(num)

1
2
3
4
5

In [103]:
for num in num_list:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [107]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [108]:
output = []
for num in num_list:
    output.append(num*2)

In [109]:
output

[2, 4, 6, 8, 10]

In [110]:
[num*2 for num in num_list]

[2, 4, 6, 8, 10]

### Function

In [112]:
def my_func(param1 = 'Customer'):
    print('Hello ' + param1)

In [114]:
my_func

In [115]:
my_func()

Hello Customer

In [116]:
my_func('Budi')

Hello Budi

In [117]:
def my_func(param1 = 'Customer'):
    """
    Ini adalah my_func, masukan nama customer
    """
    print('Hello ' + param1)

In [118]:
my_func()

Hello Customer

In [119]:
def times2(num):
    return num*2

In [120]:
x = times2(2)

In [121]:
x

4

### Map, Filter, & Lambda Expressions

In [122]:
seq = [1,2,3,4,5]

In [123]:
map(times2,seq)

In [124]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [125]:
list(map(lambda num: num*2,seq))

[2, 4, 6, 8, 10]

In [126]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

### Method

In [132]:
tweet = "Hello World #Python"

In [133]:
tweet.lower()

'hello world #python'

In [134]:
tweet.upper()

'HELLO WORLD #PYTHON'

In [135]:
tweet.split()

['Hello', 'World', '#Python']

In [136]:
tweet.split('#')

['Hello World ', 'Python']